/* MAIN DIV */
.mainDiv {

}

/* SIDE MENU */
.sideMenu {
    height: 100%;
    background-color: black;
    width: fit-content;
    float: left;
}

/* MAIN CONTROLLER */
.mainContainer {
    padding: 10px;
    float: left;
}